.header__first-row,
.header__second-row{
  padding: 10px 0;
  background: $dark;
  &>.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include bp (mlg){
      flex-wrap: nowrap;
    }
  }
}

.header__second-row{
  background: #161616;
}

.header__logo-wrapper{
  padding-right: 10px;
  @include bp (xxs){
    width: 50%;
  }
  img{
    object-fit: contain;
    width: 100px;
    @include bp (md){
      width: 136px;
    }
  }
}

.header__description{
  font-size: 14px;
  line-height: 1.2;
  display: none;
  @include bp (mlg){
    max-width: 320px;
    display: block;
  }
  @include bp (xlg){
    max-width: unset;
  }
  p{
    color: $text-light;
    margin: 0;
  }
}

.header__phones{
  padding: 0 10px;
  margin: 0;
  list-style: none;
  a{
    text-decoration: none;
    color: $text-light;
    font-size: 12px;
    &:active{
      color: $yellow;
    }
    &:visited{
      color: $text-light;
    }
    @include bp (mlg){
      &:hover{
        cursor: default;
        color: $text-light;
      }
    }
  }
}

.header__social-contacts{
  a{
    color: $yellow;
    font-size: 12px;
  }
}

.socials{
  display: flex;
  align-items: center;
  justify-content: space-between;
  a{
    text-decoration: none;
    outline: none;
    display: block;
    padding: 0 4px;
    [class^="icon-"]{
      transition: $transition-duration;
      font-size: 11px;
      &:before{
        color: $yellow;
      }
    }
    &:hover{
      [class^="icon-"]{
        &:before{
          color: $text-light;
        }
      }
    }
  }
}

.header__button{
  padding-left: 10px;
  @include bp (mlg){
    width: 170px;
  }
}

.bordered-button{
  text-decoration: none;
  outline: none;
  color: $text-light;
  background: transparent;
  display: block;
  box-shadow: none;
  padding: 10px;
  width: 100%;
  border: 2px solid $yellow;
  font-size: 12px;
  text-align: center;
  transition: $transition-duration;
  &:hover{
    background: $yellow;
  }
}

.navigation{
  position: fixed;
  top: -500%;
  left: 0;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  transition: $transition-duration;
  background: $dark;
  z-index: 1000;
  padding: 50px 0 0 0;
  &.active{
    top: 0%;
    left: 0;
  }
  @include bp (mlg){
    position: static;
    transition: none;
    min-height: initial;
    width: initial;
    flex-direction: row;
    padding: 0;
  }
}

.header__navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @include bp (mlg){
    flex-direction: row;
  }
  .menu-item-has-children{
    position: relative;
    &:hover{
      > a{
        &:after{
          transform: translate(0, -50%) rotate(180deg);
        }
      }
      @include bp (mlg){
        &>.sub-menu{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    > a{
      &:after{
        content: "\e90c";
        color: $yellow;
        font-family: "mdl-icomoon";
        font-size: 5px;
        position: absolute;
        top: calc(50% - 1px);
        right: 10px;
        transform: translate(0, -50%);
        transition: $transition-duration;
        display: none;
        @include bp (mlg){
          display: block;
        }
      }
    }
  }
  > li{
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0;
    @include bp (mlg){
      padding: 10px;
      font-size: 14px;
    }
    @include bp (xlg){
      font-size: 12px;
      padding: 10px 20px;
    }
    @include bp (xxlg){
      font-size: 14px;
      padding: 10px 15px;
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      height: 10px;
      width: 1px;
      background: $text-light;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      opacity: .4;
      display: none;
      @include bp (mlg){
        display: block;
      }
    }
    &:after{
      right: 0;
      left: initial;
    }
    &:first-child{
      padding-left: 0;
      &:before{
        display: none;
      }
    }
    &:last-child{
      padding-right: 0;
      &:after{
        display: none;
      }
    }
    > a{
      display: block;
      color: $text-light;
      text-transform: uppercase;
      line-height: 1;
      transition: $transition-duration;
      &:hover{
        color: $yellow;
      }
    }
  }
}

.sub-menu{
  padding-top: 10px;
  @include bp (mlg){
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    transition: $transition-duration;
  }
  &:hover{
    @include bp (mlg){
      opacity: 1;
      visibility: visible;
    }
  }
  li{
    background: #161616;
    transition: $transition-duration;
    a{
      display: block;
      color: $text-light;
      position: relative;
      line-height: 1;
      width: 100%;
      width: 5px 20px 5px 0;
      @include bp (mlg){
        padding: 10px 20px;
      }
    }
    &:hover{
      background: $yellow;
      a{
        color: $text-light;
      }
    }
  }
}

.header__search-form{
  position: relative;
  width: 200px;
  @include bp (mlg){
    width: 180px;
    padding-left: 10px;
  }
  @include bp (xlg){
    width: 195px;
  }
  @include bp (xxlg){
    width: 215px;
  }
}

.header__search-form-field{
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.411);
  font-size: 12px;
  line-height: 1;
  padding: 10px;
  background: transparent;
  &::placeholder{
    color: $text-light;
    font-size: 12px;
  }
}

.header__search-form-submit{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  [class^="icon-"]{
    font-size: 14px;
    color: $yellow;
  }
}

.burger-menu{
  width: 30px;
  z-index: 1001;
  span{
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: $transition-duration;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background: #fff;
      top: -7px;
      left: 0;
    }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background: #fff;
      bottom: -7px;
      left: 0;
    }
  }
  &.active{
    span{
      background: $yellow;
      transform: rotate(-39deg);
      &::before{
        background: $yellow;
        transform: rotate(80deg);
        top: 0;
      }
      &::after{
        background: $yellow;
        opacity: 0;
      }
    }
  }
  @include bp (mlg){
    display: none;
  }
}