$Roboto: 'Roboto Condensed', sans-serif;
$text-dark: #000;
$text-light: #fff;
$yellow: #FFD700;
$yellow-hover: rgb(255, 227, 68);
$blue: #00A7E1;
$blue-hover: rgb(1, 152, 202);
$dark: #1A1A1A;
$light-grey: #EBEBEB;
$transition-duration: 0.4s;