$icomoon-font-family: "mdl-icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-Arrow-next-small: "\e900";
$icon-Arrow-prev: "\e901";
$icon-aside-chat-path1: "\e902";
$icon-aside-chat-path2: "\e903";
$icon-aside-chat-path3: "\e904";
$icon-aside-chat-close-path1: "\e905";
$icon-aside-chat-close-path2: "\e906";
$icon-aside-chat-hover-path1: "\e907";
$icon-aside-chat-hover-path2: "\e908";
$icon-aside-chat-hover-path3: "\e909";
$icon-cancel: "\e90a";
$icon-check-symbol: "\e90b";
$icon-dropdown: "\e90c";
$icon-fb: "\e90d";
$icon-inst: "\e90e";
$icon-search: "\e90f";
$icon-telegram-path1: "\e910";
$icon-telegram-path2: "\e911";
$icon-telegram-transparent: "\e912";
$icon-twit: "\e913";
$icon-viber-path1: "\e914";
$icon-viber-path2: "\e915";
$icon-viber-path3: "\e916";
$icon-viber-path4: "\e917";
$icon-viber-path5: "\e918";
$icon-viber-path6: "\e919";
$icon-viber-transparent: "\e91a";
$icon-vk: "\e91b";
$icon-whatsup-path1: "\e91c";
$icon-whatsup-path2: "\e91d";
$icon-whatsup-transparent: "\e91e";
$icon-yt: "\e91f";

