<section class="section consultation">
  <div class="container">
     <div class="consultation__text-wrapper">
        <p class="consultatioin__title">Консультация</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error recusandae autem, incidunt fugiat in cum dolor
          consequuntur doloremque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, deserunt!</p>
     </div>

     <div class="consultation__image">
       <img src="../images/assistant.png" alt="">
     </div>

     <div class="consultation__form">
        <form action="" class="main-form">
          <div class="input-wrapper">
            <input class="input" type="text" placeholder="Имя">
          </div>
          <div class="input-wrapper">
            <input class="input" type="text" placeholder="Телефон">
          </div>
          <div class="input-wrapper">
            <textarea class="textarea" placeholder="Описание" name="" id="" rows="10"></textarea>
          </div>
          <div class="input-wrapper">
            <button type="submit" class="form-button">получить консультацию</button>
          </div>
        </form>
     </div>
  </div>
</section>