<footer class="footer">

  <div id="comeback-trigger"></div>

  <div class="mfp-hide">
   <div id="comeback">
    <div class="comeback popup">
      <div class="container">
        <div class="row">
          <div class="offset-md-2 col-md-8 col-12">
            <div class="popup__container">

              <h4 class="popup__title">Вы уже уходите?</h4>
              <p class="popup__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eius dignissimos minima incidunt corrupti maxime vero, suscipit veritatis. Est, assumenda!</p>

              <div class="popup__content">
                <form action="" class="popup__form">
                  <div class="input-wrapper">
                    <input class="input" type="text" placeholder="Имя">
                  </div>
                  <div class="input-wrapper">
                    <input class="input" type="text" placeholder="Телефон">
                  </div>
                  <div class="input-wrapper">
                    <button type="submit" class="form-button">получить просчет</button>
                  </div>
                </form>
                <div class="popup__contact">
                  <strong>Контакты:</strong>
                  <ul>
                    <li><a href="tel:++38 (057) 752 53 26">+38 (057) 752 53 26</a></li>
                    <li><a href="tel:++38 (050) 545 96 55">+38 (050) 545 96 55</a></li>
                  </ul>
                  <strong>E-Mail:</strong>
                  <a href="mailto:lcvsesvit@gmail.com">lcvsesvit@gmail.com</a>
                </div>
              </div>

              <button title="Close (Esc)" type="button" class="mfp-close popup__close">
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

  <div class="container">
    <div class="footer__col footer__col-1">
      <div class="footer__logo-wrapper">
        <a href=""><img src="../images/logo.svg" alt="MDT logo"></a>
      </div>
      <p class="footer__copuright">Copyright © 2019 MDL.co.ua</p>
    </div>
    <div class="footer__col footer__col-2">
      <p class="footer__title mobile-toggle">Стеклоконструкции</p>
      <ul class="footer__nav">
        <li><a href="/">Вентилируемый фасад</a></li>
        <li><a href="/">Светопрозрачный фасад</a></li>
        <li><a href="/">Перегородка из стекла</a></li>
        <li><a href="/">Входная группа из стекла</a></li>
        <li><a href="/">Входная группа из алюминивого профиля</a></li>
        <li><a href="/">Перила и ограждения</a></li>
        <li><a href="/">Зенитный фонарь</a></li>
        <li><a href="/">Зимний сад</a></li>
        <li><a href="/">Цельностеклянный козырек и навес</a></li>
      </ul>
    </div>
    <div class="footer__col footer__col-3">
      <p class="footer__title mobile-toggle">Услуги</p>
      <ul class="footer__nav">
        <li><a href="/">Проекты</a></li>
        <li><a href="/">Презентация</a></li>
        <li><a href="/">Фотогалерея</a></li>
        <li><a href="/">Отзывы</a></li>
        <li><a href="/">Блог</a></li>
        <li><a href="/">О нас</a></li>
        <li><a href="/">Контакты</a></li>
      </ul>
    </div>
    <div class="footer__col footer__col-4">
      <p class="footer__title mobile-toggle">Контакты</p>
      <ul class="footer__nav">
        <li><a href="tel:+38 (057) 752 53 26">+38 (057) 752 53 26</a></li>
        <li><a href="tel:+38 (057) 752 53 26">+38 (057) 752 53 26</a></li>
        <li><a href="tel:+38 (067) 908 31 81">+38 (067) 908 31 81</a></li>
        <li><a href="mailto:contact@mdl.co.ua">contact@mdl.co.ua</a></li>
      </ul>
      <p class="footer__title">Адрес</p>
      <p class="footer__address">Украина, г. Харьков, </br>
        ул. Отакара Яроша 9А, офис 41</p>
    </div>
  </div>
</footer>