<div class="main-form__wrapper">
  <form action="" class="pbz_form main-form clear-styles" data-error-title="Ошибка отправки!"
    data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!"
    data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
    <p class="title">Опишите вашу задачу</p>
    <p class="subtitle">и получите просчет стоимости объекта</p>
    <div class="input-wrapper">
      <input class="input" type="text" name="name" placeholder="Имя" data-title="Имя">
    </div>
    <div class="input-wrapper">
      <input class="input" type="tel" name="phone" data-title="Телефон" data-validate-required="Обязательное поле"
        data-validate-uaphone="Неправильный
            номер" placeholder="Телефон">
    </div>
    <div class="input-wrapper">
      <textarea class="textarea" placeholder="Описание" name="" id="" rows="10"></textarea>
    </div>
    <div class="input-wrapper">
      <button type="submit" class="form-button">получить просчет</button>
    </div>
    <div class="contact-info">
      <span>Или задайте вопрос в мессенджер:</span>
      <ul>
        <li>
          <a href="/">
            <img src="../images/icons/telegram.svg" alt="telegram icon">
          </a>
        </li>
        <li>
          <a href="/">
            <img src="../images/icons/viber.svg" alt="vider icon">
          </a>
        </li>
        <li>
          <a href="/">
            <img src="../images/icons/whatsup.svg" alt="whatsup icon">
          </a>
        </li>
      </ul>
    </div>
  </form>
</div>