<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>MDL</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
</head>

<body>

  <%= require('html-loader?root=.&minimize=true&interpolate!./partials/_header.html') %>

<main>
  <div class="container">
    <div class="breadcrums">
      <a href="/">Главная</a>
      <a href="" class="active">Отзывы</a>
    </div>
  </div>

  <section class="section about-us-page">
    <div class="container">
      <h4 class="page-title">О нас</h4>
      <div class="row about-row">
        <div class="col-sm-6 col-12">
          <p>«MDL» Building Company (МДЛ Билдинг Компани) – строительная компания, основана в 1998 году в городе Харьков (Украина). На сегодняшний день «MDL» имеет собственную производственную базу и занимает лидирующую позицию на украинском рынке архитектурно-строительных услуг. «MDL» преследует миссию созидания объектов, которые дарят людям комфорт и советуют их представлению.</p>
          <p>Компания успешно реализует строительные проекты в двух бизнес-направлениях:</p>
          <p><strong>«Line Solutions»</strong> – профессиональные фасадные решения;</p>
          <p><strong>«Stylish House»</strong> – комплексное строительство домов и коттеджей.</p>
        </div>
        <div class="col-sm-6 col-12">
          <div class="about__logo">
            <img src="./images/logo-dark.svg" alt="">
          </div>
        </div>
      </div>
      
      <div class="row about-row">
        <div class="col-sm-6 col-12">
          <div class="about__img">
            <img src="./images/about/1.png" alt="">
          </div>
        </div>
        <div class="col-sm-6 col-12">
            <p>Более, чем за 20 лет существования «MDL» приняла участие в строительстве одних из наиболее значимых объектов родного города. Среди них: новый терминал международного аэропорта «Харьков», пятизвёздочный бизнес-отель «Premier Palace Hotel Kharkiv», стадион-участник чемпионата Европы по футболу 2012 «Металлист», крытый надземный переход на проспекте Гагарина и прочие муниципальные объекты. Список наших клиентов дополняют и другие знаменитые бренды: крупнейшая японская автомобилестроительная корпорация «Toyota», офтальмологическая сеть магазинов «Люксоптика», сеть гипермаркетов «Ашан».</p>
            <p>Руководствуясь здравым смыслом, инновационными технологиями и богатым профессиональным опытом мы всегда стремимся создать максимально качественный продукт, в котором будет комфортно жить, работать или проводить досуг. Выбирая нашу компанию, Вы одновременно выбираете комфорт, качество и безопасность.</p>
        </div>
      </div>

      <h4 class="section-title">Чем же наша компания может быть Вам полезной?</h4>
      <div class="row about-row">
        <div class="col-sm-6 col-12">
            <ul>
              <li>- Вы знаете обо всех возможных видах строительства и их плюсах и минусах (минусы есть во всех моментах нашей жизни)?</li>
              <li>- Где и как можно сэкономить при строительстве и где этого делать нельзя?</li>
              <li>- Как грамотно решить ошибку или внести возникшие изменения в проект при строительстве?</li>
            </ul>
            <p>В принципе на первый вопрос ответ можно найти в результате поиска решений в Интернете, но нужно время. На второй вопрос Вам не ответит никто, т.к. это является коммерческой тайной, и если Вы являетесь инженером-строителем, Вам не составит труда дать ответ на третий вопрос.</p>
            <p>При работе с нами мы не только ответим на них, но и предложим варианты решения, и поверьте нам, Вам будет из чего выбирать.</p>
            <p>Наша компания постарается сэкономить Ваше время при определении «из чего построить» независимо от того, какое решение Вы примите, работать с нами или с другой компанией на начальном этапе. В процессе деятельности строительства раскроем все возможные пути экономии и вместе выберем оптимальный бюджет стройки. У нашей компании достаточно квалифицированных специалистов решить любой вопрос в строительстве с оптимальными финансовыми затратами.</p>
            <p>Что можно сказать о компании MDL – действующая в полную силу компания со своими победами и ошибками работающая на строительном рынке более 6 лет. Компания не пытается сорвать звезд с неба, а ставит перед собой конкретные задачи, одна из которых принята как лозунг «КАЧЕСТВЕННЫЕ РЕШЕНИЯ». Ведь конечный потребитель продукта - это Вы, и все что делается нами, да и не только нами, это сделать качественный продукт за разумную цену, сохранив и преумножив свой имидж хорошей строительной компании.</p>
        </div>
          <div class="col-sm-6 col-12">
            <div class="about__img">
              <img src="./images/about/2.png" alt="">
            </div>
            <p>Исходя из этого, строительным компаниям надо быть очень внимательными и компетентными в деятельности строительства, ведь плохо построенный объект не переделаешь так легко.</p>
            <p>За плечами строительной компании «MDL», такие объекты как: строительство стадиона «Металлист», переход-галерея над проспектом Гагарина, строительство и реконструкция аэропорта Харьков, Гостиница «Харьков палац», внутреннее остекление супермаркета «КРАИНА», ЖК в Киеве по адресу ул. Антоновича,131 , производили строительные работы для ЧАО «ФИЛИП МОРИС» и много других объектов.</p>
            <p>Доверяя Ваши желания компании MDL, Вы выбираете профессионалов.</p>
          </div>
        </div>
    </div>
  </section>
</main>

<%= require('html-loader?root=.&minimize=true&interpolate!./partials/_footer.html') %>

</body>

</html>