<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>MDL</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
</head>

<body>

  <%= require('html-loader?root=.&minimize=true&interpolate!./partials/_header.html') %>

  <main>

    <div class="container">
      <div class="breadcrums">
        <a href="/">Главная</a>
        <a href="" class="active">Блог</a>
      </div>
    </div>

    <section class="section main-common-section blog">
      <div class="container">
        <div class="main-titles-wrapper">
          <p class="main-title">Блог</p>
          <p class="main-subtitle">Мы акцентируем Ваше внимание на то, что каждый проект индивидуален и обсудив с
            менеджером компании MDL Вы
            сможете получить более выгодную и точную цену</p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row flex-column-reverse flex-lg-row">

          <div class="col-lg-8 col-md-12">
            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./images/blog/5.jpg" alt="">
              </div>
              <div class="blog-item__info">
                <p class="title">Каркасный дом</p>
                <a href="/" class="link">Строительство по каркасной технологии</a>
                <p class="date">12.06.2014</p>
                <p class="description js-blog-description">
                  Каркасный дом — это быстровозводимая конструкция, в которой все несущие элементы связаны между собой.
                  Каркасное домостроение является основным типом малоэтажного строительства в Скандинавии, Финляндии,
                  Германии, США и Японии. По каркасной технологии из дерева строились многи и многие конструкции в мире и это очень круто.
                </p>
                <a href="/" class="bordered-button">Читать далее</a>
              </div>
            </div>

            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./images/blog/6.jpg" alt="">
              </div>
              <div class="blog-item__info">
                <p class="title">Каркасный дом</p>
                <a href="/" class="link">Строительство по каркасной технологии</a>
                <p class="date">12.06.2014</p>
                <p class="description js-blog-description">
                  Каркасный дом — это быстровозводимая конструкция, в которой все несущие элементы связаны между собой.
                  Каркасное домостроение является основным типом малоэтажного строительства в Скандинавии, Финляндии,
                  Германии, США и Японии. По каркасной технологии из дерева строились многи и многие конструкции в мире
                  и это очень круто.
                </p>
                <a href="/" class="bordered-button">Читать далее</a>
              </div>
            </div>

            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./images/blog/7.jpg" alt="">
              </div>
              <div class="blog-item__info">
                <p class="title">Каркасный дом</p>
                <a href="/" class="link">Строительство по каркасной технологии</a>
                <p class="date">12.06.2014</p>
                <p class="description js-blog-description">
                  Каркасный дом — это быстровозводимая конструкция, в которой все несущие элементы связаны между собой.
                  Каркасное домостроение является основным типом малоэтажного строительства в Скандинавии, Финляндии,
                  Германии, США и Японии. По каркасной технологии из дерева строились многи и многие конструкции в мире
                  и это очень круто.
                </p>
                <a href="/" class="bordered-button">Читать далее</a>
              </div>
            </div>

            <div class="blog-item">
              <div class="blog-item__image">
                <img src="./images/blog/8.jpg" alt="">
              </div>
              <div class="blog-item__info">
                <p class="title">Каркасный дом</p>
                <a href="/" class="link">Строительство по каркасной технологии</a>
                <p class="date">12.06.2014</p>
                <p class="description js-blog-description">
                  Каркасный дом — это быстровозводимая конструкция, в которой все несущие элементы связаны между собой.
                  Каркасное домостроение является основным типом малоэтажного строительства в Скандинавии, Финляндии,
                  Германии, США и Японии. По каркасной технологии из дерева строились многи и многие конструкции в мире
                  и это очень круто.
                </p>
                <a href="/" class="bordered-button">Читать далее</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12">
            <div class="blog-nav">
              <form role="search" method="get" class="blog__search-form" action="/">
                <input type="search" class="blog__search-form-field" placeholder="Поиск по блогу . . ." value=""
                  name="s">
                <button type="submit" class="blog__search-form-submit">
                  <span class="icon-search"></span>
                </button>
              </form>
  
              <p class="title">Рубрики</p>
              <ul>
                <li><a href="/">Выполненные работы</a></li>
                <li><a href="/">Стеклянные конструкции</a></li>
                <li><a href="/">Строительство по каркасной технологии</a></li>
              </ul>

              <hr>

              <p class="title">Свежие записи</p>
              <ul>
                <li><a href="/"><strong>12.06.2014 </strong>- Каркасный дом</a></li>
                <li><a href="/"><strong>12.06.2014 </strong>- Пятизвёздочный бизнес-отель «Premier Palace Hotel Kharkiv»</a></li>
                <li><a href="/"><strong>12.06.2014 </strong>- Построен новый терминал аэропорта «Харьков»</a></li>
                <li><a href="/"><strong>12.06.2014 </strong>- Открытие обновлённого стадиона «Металлист»</a></li>
              </ul>

            </div>
          </div>

        </div>

        <ul class="pagination">
          <li class="active"><a href="/" target="_blank" rel="noopener noreferrer">1</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">2</a></li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">3</a></li>
          <li>...</li>
          <li><a href="/" target="_blank" rel="noopener noreferrer">22</a></li>
        </ul>

      </div>
    </section>
  </main>

  <%= require('html-loader?root=.&minimize=true&interpolate!./partials/_consultation.html') %>

  <%= require('html-loader?root=.&minimize=true&interpolate!./partials/_footer.html') %>

  <%= require('html-loader?root=.&minimize=true&interpolate!./partials/_helper.html') %>

</body>

</html>