<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>MDL</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
</head>

<body>

  <%= require('html-loader?root=.&minimize=true&interpolate!./partials/_header.html') %>

  <main>

    <div class="user-contact-widget js-contact-widget">
      <div class="user-contact-widget__icon"></div>
      <div class="user-contact-widget__menu">
        <div>
          <a href=""><span class="icon-telegram-transparent"></span></a>
          <a href=""><span class="icon-viber-transparent"></span></a>
          <a href=""><span class="icon-whatsup-transparent"></span></a>
        </div>
      </div>
    </div>

    <section class="section section-main">
      <img src="./images/main-installation.png" alt="Пример светопрозрачных конструкций" class="main-installation">
      <div class="container">
        <div>
            <p class="main-title">Строительство</p>
            <div class="main-subtitle">
              <span class="bordered">Светопрозрачные конструкции</span>
              <span class="filled">100% гарантия сроков</span>
            </div>
    
            <ul class="main-list">
              <li>Офисные перегородки</li>
              <li>Душевые стеклянные перегородки</li>
              <li>Фасадные работы</li>
              <li>Вентелируемые фасады</li>
            </ul>
        </div>

        <div class="main-form__wrapper">
          <form action="" class="main-form">
            <p class="title">Опишите вашу задачу</p>
            <p class="subtitle">и получите просчет стоимости объекта</p>
            <div class="input-wrapper">
              <input class="input" type="text" placeholder="Имя">
            </div>
            <div class="input-wrapper">
              <input class="input" type="text" placeholder="Телефон">
            </div>
            <div class="input-wrapper">
              <textarea  class="textarea" placeholder="Описание" name="" id="" rows="10"></textarea>
            </div>
            <div class="input-wrapper">
              <button type="submit" class="form-button">получить просчет</button>
            </div>
            <div class="contact-info">
              <span>Или задайте вопрос в мессенджер:</span>
              <ul>
                <li>
                  <a href="/">
                    <img src="./images/icons/telegram.svg" alt="telegram icon">
                  </a>
                </li>
                <li>
                  <a href="/">
                    <img src="./images/icons/viber.svg" alt="vider icon">
                  </a>
                </li>
                <li>
                  <a href="/">
                    <img src="./images/icons/whatsup.svg" alt="whatsup icon">
                  </a>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h4 class="section-title">Светопрозрачные конструкции</h4>
        <div class="projects-grid">

          <div class="project-grid__item">
            <div class="project-grid__item-img">
              <img src="./images/glass-projects/1.png" alt="Вентилируемый фасад">
            </div>
            <div class="project-grid__item-info-wrapper">
              <p class="project-grid__item-title">Вентилируемый фасад</p>
              <ul class="project-grid__item-features">
                <li>Демонтаж вентилируемого фасада</li>
                <li>Вентилируемый фасад «под ключ»</li>
                <li>Клининг вент. фасада</li>
              </ul>
              <a href="" class="project-grid__item-link">Просмотреть все этапы</a>
            </div>
          </div>

          <div class="project-grid__item">
            <div class="project-grid__item-img">
              <img src="./images/glass-projects/2.png" alt="Перегородка из стекла">
            </div>
            <div class="project-grid__item-info-wrapper">
              <p class="project-grid__item-title">Перегородка из стекла</p>
              <ul class="project-grid__item-features">
                <li>Демонтаж цельностеклянных конструкций</li>
                <li>Перегородки из стекла «под ключ»»</li>
                <li>Замена перегородок</li>
              </ul>
              <a href="" class="project-grid__item-link">Просмотреть все этапы</a>
            </div>
          </div>

          <div class="project-grid__item">
            <div class="project-grid__item-img">
              <img src="./images/glass-projects/3.png" alt="Светопрозрачный фасад">
            </div>
            <div class="project-grid__item-info-wrapper">
              <p class="project-grid__item-title">Светопрозрачный фасад</p>
              <ul class="project-grid__item-features">
                <li>Остекление фасада</li>
                <li>Светопрозрачный фасад «под ключ»</li>
                <li>Замена стеклопакетов стеклопрозрачного фасада</li>
              </ul>
              <a href="" class="project-grid__item-link">Просмотреть все этапы</a>
            </div>
          </div>

          <div class="project-grid__item">
            <div class="project-grid__item-img">
              <img src="./images/glass-projects/4.png" alt="Выходная группа из стекла">
            </div>
            <div class="project-grid__item-info-wrapper">
              <p class="project-grid__item-title">Выходная группа из стекла</p>
              <ul class="project-grid__item-features">
                <li>Демонтаж цельностеклянных входных групп</li>
                <li>Входная группа из стекла «под ключ»</li>
                <li>Замена замков цельностеклянных входных групп</li>
              </ul>
              <a href="" class="project-grid__item-link">Просмотреть все этапы</a>
            </div>
          </div>

          <div class="project-grid__item">
            <div class="project-grid__item-img">
              <img src="./images/glass-projects/5.png" alt="Входная группа из алюминевого профиля">
            </div>
            <div class="project-grid__item-info-wrapper">
              <p class="project-grid__item-title">Входная группа из алюминевого профиля</p>
              <ul class="project-grid__item-features">
                <li>Демонтаж входных групп из алюминиевого профиля</li>
                <li>Устройство входных групп «под ключ»</li>
              </ul>
              <a href="" class="project-grid__item-link">Просмотреть все этапы</a>
            </div>
          </div>

          <div class="project-grid__item">
            <div class="project-grid__item-img">
              <img src="./images/glass-projects/6.png" alt="Перила и ограждения">
            </div>
            <div class="project-grid__item-info-wrapper">
              <p class="project-grid__item-title">Перила и ограждения</p>
              <ul class="project-grid__item-features">
                <li>Замена перил и ограждений из стекла</li>
                <li>Перила и ограждения из стекла «под ключ»</li>
                <li>Матирование перил и ограждений из стекла</li>
              </ul>
              <a href="" class="project-grid__item-link">Просмотреть все этапы</a>
            </div>
          </div>

          <div class="project-grid__item">
            <div class="project-grid__item-img">
              <img src="./images/glass-projects/7.png" alt="Зенитный фонарь">
            </div>
            <div class="project-grid__item-info-wrapper">
              <p class="project-grid__item-title">Зенитный фонарь</p>
              <ul class="project-grid__item-features">
                <li>Демонтаж зенитного фонаря</li>
                <li>Замена стекла зенитного фонаря</li>
                <li>Зенитный фонарь «под ключ»</li>
              </ul>
              <a href="" class="project-grid__item-link">Просмотреть все этапы</a>
            </div>
          </div>

          <div class="project-grid__item">
            <div class="project-grid__item-img">
              <img src="./images/glass-projects/8.png" alt="Зимний сад">
            </div>
            <div class="project-grid__item-info-wrapper">
              <p class="project-grid__item-title">Зимний сад</p>
              <ul class="project-grid__item-features">
                <li>Демонтаж зимнего сада</li>
                <li>Замена стекла зимнего сада</li>
                <li>Зимний сад «под ключ»</li>
              </ul>
              <a href="" class="project-grid__item-link">Просмотреть все этапы</a>
            </div>
          </div>

          <div class="project-grid__item">
            <div class="project-grid__item-img">
              <img src="./images/glass-projects/9.png" alt="Цельностеклянный козырек и навес">
            </div>
            <div class="project-grid__item-info-wrapper">
              <p class="project-grid__item-title">Цельностеклянный козырек и навес</p>
              <ul class="project-grid__item-features">
                <li>Замена стекла цельностеклянного козырька и навеса</li>
                <li>Матирование стекла цельностеклянного козырька и навеса</li>
                <li>Устранение течи цельностеклянного козырька и навеса</li>
              </ul>
              <a href="" class="project-grid__item-link">Просмотреть все этапы</a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h4 class="section-title">Работа с нами за 6 шагов - Это просто!</h4>
        <div class="steps-grid">
          <div class="step-grid__item">
            <div class="step-grid__item-img" data-order="1.">
              <img src="./images/steps/1.png" alt="">
            </div>
            <div class="step-grid__item-info-wrapper">
              <p class="step-grid__item-title">Заявка</p>
              <p class="step-grid__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ante in turpis malesuada vehicula. Sed elit elit,
              venenatis id lacus nec, feugiat iaculis nulla.</p>
            </div>
          </div>

          <div class="step-grid__item">
            <div class="step-grid__item-img" data-order="2.">
              <img src="./images/steps/2.png" alt="">
            </div>
            <div class="step-grid__item-info-wrapper">
              <p class="step-grid__item-title">Встреча</p>
              <p class="step-grid__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ante in
                turpis malesuada vehicula. Sed elit elit,
                venenatis id lacus nec, feugiat iaculis nulla.</p>
            </div>
          </div>

          <div class="step-grid__item">
            <div class="step-grid__item-img" data-order="3.">
              <img src="./images/steps/3.png" alt="">
            </div>
            <div class="step-grid__item-info-wrapper">
              <p class="step-grid__item-title">Составление вариантов</p>
              <p class="step-grid__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ante in
                turpis malesuada vehicula. Sed elit elit,
                venenatis id lacus nec, feugiat iaculis nulla.</p>
            </div>
          </div>

          <div class="step-grid__item">
            <div class="step-grid__item-img" data-order="4.">
              <img src="./images/steps/4.png" alt="">
            </div>
            <div class="step-grid__item-info-wrapper">
              <p class="step-grid__item-title">Проработка выбранных вариантов</p>
              <p class="step-grid__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ante in
                turpis malesuada vehicula. Sed elit elit,
                venenatis id lacus nec, feugiat iaculis nulla.</p>
            </div>
          </div>

          <div class="step-grid__item">
            <div class="step-grid__item-img" data-order="5.">
              <img src="./images/steps/5.png" alt="">
            </div>
            <div class="step-grid__item-info-wrapper">
              <p class="step-grid__item-title">Предоплата и начало работ</p>
              <p class="step-grid__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ante in
                turpis malesuada vehicula. Sed elit elit,
                venenatis id lacus nec, feugiat iaculis nulla.</p>
            </div>
          </div>

          <div class="step-grid__item">
            <div class="step-grid__item-img" data-order="6.">
              <img src="./images/steps/6.png" alt="">
            </div>
            <div class="step-grid__item-info-wrapper">
              <p class="step-grid__item-title">Выполнение работ</p>
              <p class="step-grid__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ante in
                turpis malesuada vehicula. Sed elit elit,
                venenatis id lacus nec, feugiat iaculis nulla.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section projects-section">
      <div class="container">
        <div class="projects-slider__wrapper">
          <h4 class="section-title light">Наши проеты</h4>
          <div class="projects-slider">
            <div class="slide">
              <div class="img-wrapper">
                <img src="./images/projects/1.png" alt="Надземный переход на Гагарина">
                <div class="tag">Вентилируемые фасады</div>
              </div>
              <div class="content">
                <p class="title">Надземный переход на Гагарина</p>
                <ul class="details">
                  <li>
                    <span>Задача:</span> <span>Построить новый терминал</span>
                  </li>
                  <li>
                    <span>Срок:</span> <span>Сдача объекта в конце 2018 года</span>
                  </li>
                  <li>
                    <span>Сделано:</span> <span>Построен каркас здания, выполнено остекление.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <a href="/" class="bordered-button">Обсудить проект</a>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h4 class="section-title">Наши клиенты</h4>
        <div class="clients-grid">
          <div class="client-grid__item">
            <div>
              <img src="./images/client.png" alt="Airport logo">
            </div>
            <div>
              <img src="./images/client.png" alt="Airport logo">
            </div>
            <div>
              <img src="./images/client.png" alt="Airport logo">
            </div>
            <div>
              <img src="./images/client.png" alt="Airport logo">
            </div>
          </div>
          <div class="client-grid__item">
            <div>
              <img src="./images/client.png" alt="Airport logo">
            </div>
            <div>
              <img src="./images/client.png" alt="Airport logo">
            </div>
            <div>
              <img src="./images/client.png" alt="Airport logo">
            </div>
            <div>
              <img src="./images/client.png" alt="Airport logo">
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <section class="section">
    <div class="container">
      <h4 class="section-title">О Нас</h4>
      <div class="aboutUs-row first-row">
        <div class="aboutUs-container">
          <p>«MDL» Building Company (МДЛ Билдинг Компани) – строительная компания, основана в 1998 году в городе Харьков
            (Украина). На сегодняшний день «MDL» имеет собственную производственную базу и занимает лидирующую позицию на
            украинском рынке архитектурно-строительных услуг. «MDL» преследует миссию созидания объектов, которые дарят
            людям комфорт и советуют их представлению.</p>
          <span class="subtitle">Компания успешно реализует строительные проекты в двух бизнес-направлениях:</span>
        </div>
        <div class="aboutUs-container">
          <img src="./images/logo-dark.svg" alt="logo">
          <ul>
            <li><span>«Line Solutions»</span> – профессиональные фасадные решения;</li>
            <li><span>«Stylish House»</span> – комплексное строительство домов и коттеджей.</li>
          </ul>
        </div>
      </div>

      <div class="aboutUs-row second-row">
        <div class="aboutUs-container">
          <p>Более, чем за 20 лет существования «MDL» приняла участие в строительстве одних из наиболее значимых
            объектов родного города. Среди них: <strong>Новый терминал международного аэропорта «Харьков»</strong>,
            пятизвёздочный
            бизнес-отель <strong>«Premier Palace Hotel Kharkiv»</strong>, стадион-участник чемпионата Европы по футболу
            2012 <strong>«Металлист»</strong>,
            крытый <strong>надземный переход на проспекте Гагарина</strong> и прочие муниципальные объекты. Список наших
            клиентов
            дополняют и другие знаменитые бренды: крупнейшая японская автомобилестроительная корпорация
            <strong>«Toyota»</strong>,
            офтальмологическая сеть магазинов <strong>«Люксоптика»</strong>, сеть гипермаркетов <strong>«Ашан»</strong>.
            </p>
        </div>
        <div class="aboutUs-container">
          <p>Руководствуясь здравым смыслом, инновационными технологиями и богатым профессиональным опытом мы всегда
            стремимся создать максимально качественный продукт, в котором будет комфортно жить, работать или проводить
            досуг. Выбирая нашу компанию, Вы одновременно выбираете комфорт, качество и безопасность.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section blog-section">
    <div class="container">
      <h4 class="section-title light">Блог</h4>
      <div class="blog-grid">
        <div class="blog-grid__item">
          <img src="./images/blog/1.png" alt="Каркасный дом">
          <div class="content">
            <p class="title">Каркасный дом</p>
            <p class="description">Каркасный дом — это быстровозводимая конструкция, в которой все несущие элементы
              связаны между собой. Каркасное домостроение является основным типом малоэтажного строительства в
              Скандинавии, Финляндии, Германии, США и Японии. По каркасной технологии из дерева строились и продолжают
              возводиться не только . . .</p>
              <a href="/" class="more-btn">Читать дальше . . .</a>
          </div>
        </div>

        <div class="blog-grid__item">
          <img src="./images/blog/2.png" alt="бизнес-отель «Premier Palace Hotel Kharkiv»">
          <div class="content">
            <p class="title">Построен пятизвёздочный бизнес-отель «Premier Palace Hotel Kharkiv»</p>
            <p class="description">С гордостью объявляем, что в Харькове построен и готов к эксплуатации новый
              пятизвёздочный бизнес-отель «Premier Palace Hotel Kharkiv». Компания «MDL» успешно осуществила разработку
              и монтаж входных групп, а также проектирование . . .</p>
            <a href="/" class="more-btn">Читать дальше . . .</a>
          </div>
        </div>

        <div class="blog-grid__item">
          <img src="./images/blog/3.png" alt="новый терминал аэропорта «Харьков»">
          <div class="content">
            <p class="title">Построен новый терминал аэропорта «Харьков»</p>
            <p class="description">Новый терминал харьковского аэропорта готов и ждёт своих первых посетителей. Компания
              «MDL» предоставила спектр услуг по изготовлению и монтажу стеклянных конструкций. Все работы выполнены на
              высочайшем уровне, согласно современным стандартам и технологиям . . .</p>
            <a href="/" class="more-btn">Читать дальше . . .</a>
          </div>
        </div>

        <div class="blog-grid__item">
          <img src="./images/blog/4.png" alt="Открытие обновлённого стадиона «Металлист»">
          <div class="content">
            <p class="title">Открытие обновлённого стадиона «Металлист» </p>
            <p class="description">Рады сообщить Вам, что сегодня значимое событие нашего города — открытие обновлённого
              (после реконструкции) стадиона «Металлист». Компания «MDL» с удовольствием выполнила обшивку и остекление
              фасада стадиона. Нами были применены смелые авторские решения . . .</p>
            <a href="/" class="more-btn">Читать дальше . . .</a>
          </div>
        </div>
      </div>
      <a href="/" class="bordered-button">Показать еще статьи</a>
    </div>
  </section>

  <section class="section another-direction">
    <img src="./images/house.png" class="house-img" alt="">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-6">
          <p>Возможно Вам будет интересно другое направление фирм</p>
          <h4 class="section-title">Каркасное строительство</h4>
          <a href="/" class="filled-button yellow">Перейти к направлению</a>
        </div>
      </div>
    </div>
  </section>

  <%= require('html-loader?root=.&minimize=true&interpolate!./partials/_consultation.html') %>

  <%= require('html-loader?root=.&minimize=true&interpolate!./partials/_footer.html') %>

  <%= require('html-loader?root=.&minimize=true&interpolate!./partials/_helper.html') %>

</body>

</html>