body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &.overflow-hidden{
    overflow: hidden;
  }
}

// Import abstract
@import './abstracts/variables';
@import './abstracts/mixins';

// reset styles
@import './base/reset.scss';

// Import base
@import './base/fonts';
@import './base/animations';

// Import layouts
@import './layouts/header';
@import './layouts/footer';

// Import components
@import './components/main-form';
@import './components/contact-widget';
@import './components/projects-slider';
@import './components/consultation';
@import './components/helper';
@import './components/breadcrumbs';
@import './components/popups';
@import './components/pagination';

// Import pages
@import './pages/home';
@import './pages/review';
@import './pages/about';
@import './pages/contact';
@import './pages/prices';
@import './pages/blog';